### 1. 빌드 결과물  ###
.gradle
build/
out/
bin/

### 2. Gradle 래퍼  ###
!gradle/wrapper/gradle-wrapper.jar

### 3. IDE 설정 파일 ###
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.springBeans
.sts4-cache

### 4. 시스템 파일###
.DS_Store
Thumbs.db

### 5. 로그 파일 ###
*.log
